.l-column--sidebar {
  @include width(300px);
  background: $color-pale--light;
}

.l-column--main {
  @include max-width(800px);
}

.c-navbar {
    .faded {
      opacity: .5;
    }
}

.c-panel {
  font-family: sans-serif;
}

.c-title--main {
  margin-top: 1.5em;
  a {
    text-decoration: none;
    position: relative;
    transition: $time;

    &:hover {
      color: darken($color-main, 5%);
    }
    
    &:hover:after {
      content: "#";
      margin-left: 5px;
      color: $color-slate--lighter;
      font-size: $base;
      text-decoration: none;
      line-height: 24px;
    }
  }
}

.c-panel--pre {
  padding: $base;

  pre {
    margin: 0;
    padding: 0;
  }

  .hljs {
    background: transparent;
  }
}

.c-panel--terminal {
  padding: $base;
  font-family: monospace;
  background-color: $color-slate--darker;
  border-color: $color-slate--darkest;
  color: $color-pale;
  margin: $base;
}
